<div class="mt-[20%] lg:mt-[7%] pb-5">
    <div class="grid lg:grid-cols-2 gap-4 container">
        <div>
             <h3 class="text-center mt-5  text-uppercase text-[23px]" style="font-weight: 800;">Historique du COSACE</h3>
             <p class="mt-3 text-gray-400 text-center">
               Le Comité de Suivi des Actions du Chef de l’État, en sigle COSACE, 
               est une structure citoyenne sans but lucratif (ASBL), 
               créée en République Démocratique du Congo, dans la ville-province de Kinshasa, en date du 15 juin 2019.

             </p>
              <p class="text-gray-400 text-center">
               Fondé par des congolais nationalistes, le COSACE est né du souci de soutenir,
                valoriser et faire le suivi des actions du Chef de l’État sur toute l’étendue 
                du territoire national. Il s’agit d’un service de fait, agissant comme structure
                 d’appui à l’Institution Présidentielle, en parfaite cohérence avec les objectifs de
                  souveraineté, d’unité nationale et de stabilité institutionnelle.
             </p>
              <p class="text-gray-400 text-center">
                Le COSACE fonctionne légalement grâce à plusieurs documents officiels : <br/>
                Avis favorable n°254/100/054/621/2020,  
                Référence juridique : F92/388638/JUST/SG/20/2362/2020,  
                Arrêté ministériel n°122/CAB/VPM/MIN/JUST/2021 du 29 janvier 2021, accordant la personnalité juridique  
                Statuts notariés le 03 mai 2024
             </p>
        </div>
        <div>
         
        </div>
    </div>
</div>

<div class="pb-5 container mt-5">
      <h3 class="text-center mt-5  text-uppercase text-[23px]" style="font-weight: 800;">Equipes</h3>
      <div id="splide" class="splide mt-5">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="h-[500px] overflow-hidden relative rounded-lg">
           <img src="images/Félix_Tshisekedi_in_2021.jpg" class="w-full h-full"/>
           <div class="absolute bg-gradient-to-t from-black to-transparent top-0 left-0 right-0 bottom-0">

           </div>
             <p class="absolute bottom-[7%] left-5 text-white font-bold text-uppercase">Directeur Générale</p>
             <p class="absolute bottom-2 left-5 text-white font-thin">Kolony Kiseya</p>
        </div>
      </li>
       <li class="splide__slide">
        <div class="h-[500px] overflow-hidden relative rounded-lg">
           <img src="images/Félix_Tshisekedi_in_2021.jpg" class="w-full h-full"/>
           <div class="absolute bg-gradient-to-t from-black to-transparent top-0 left-0 right-0 bottom-0">

           </div>
             <p class="absolute bottom-[7%] left-5 text-white font-bold text-uppercase">Directeur Générale adjoint</p>
             <p class="absolute bottom-2 left-5 text-white font-thin">Kolony Kiseya</p>
        </div>
      </li>
       <li class="splide__slide">
        <div class="h-[500px] overflow-hidden relative rounded-lg">
           <img src="images/Félix_Tshisekedi_in_2021.jpg" class="w-full h-full"/>
           <div class="absolute bg-gradient-to-t from-black to-transparent top-0 left-0 right-0 bottom-0">

           </div>
             <p class="absolute bottom-[7%] left-5 text-white font-bold text-uppercase">Directeur Générale Adjoint</p>
             <p class="absolute bottom-2 left-5 text-white font-thin">Kolony Kiseya</p>
        </div>
      </li>
  
    </ul>
  </div>
</div>

</div>