<div class="mt-[20%] lg:mt-[7%]">
    <div class="grid lg:grid-cols-2 container">
        <div>
             <h3 class="text-center mt-5  text-uppercase text-[23px]" style="font-weight: 800;">Historique</h3>
             <p class="mt-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, 
                orci sit amet sagittis efficitur, nisl elit ultrices velit, sed malesuada
                 nisi lectus ut nibh. Aenean in sem vel lacus varius lobortis. Suspendisse
                  potenti. Integer tincidunt semper lectus, nec tristique purus vehicula vel.
                   Cras quis felis vitae justo facilisis luctus. Vestibulum id tincidunt ipsum.
                    Donec at sapien vitae leo tristique rutrum. Nulla porttitor nisl non ante vulputate,
                     sed cursus eros vehicula.
             </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, 
                orci sit amet sagittis efficitur, nisl elit ultrices velit, sed malesuada
                 nisi lectus ut nibh. Aenean in sem vel lacus varius lobortis. Suspendisse
                  potenti. Integer tincidunt semper lectus, nec tristique purus vehicula vel.
                   Cras quis felis vitae justo facilisis luctus. Vestibulum id tincidunt ipsum.
                    Donec at sapien vitae leo tristique rutrum. Nulla porttitor nisl non ante vulputate,
                     sed cursus eros vehicula.
             </p>
        </div>
        <div></div>
    </div>
</div>

<div class="pb-5 container">
      <h3 class="text-center mt-5  text-uppercase text-[23px]" style="font-weight: 800;">Equipes</h3>
      <div id="splide" class="splide mt-5">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="h-[500px] overflow-hidden relative rounded-lg">
           <img src="images/Félix_Tshisekedi_in_2021.jpg" class="w-full h-full"/>
           <div class="absolute bg-gradient-to-t from-black to-transparent top-0 left-0 right-0 bottom-0">

           </div>
             <p class="absolute bottom-[7%] left-5 text-white font-bold text-uppercase">Directeur Générale</p>
             <p class="absolute bottom-2 left-5 text-white font-thin">Kolony Kiseya</p>
        </div>
      </li>
       <li class="splide__slide">
        <div class="h-[500px] overflow-hidden relative rounded-lg">
           <img src="images/Félix_Tshisekedi_in_2021.jpg" class="w-full h-full"/>
           <div class="absolute bg-gradient-to-t from-black to-transparent top-0 left-0 right-0 bottom-0">

           </div>
             <p class="absolute bottom-[7%] left-5 text-white font-bold text-uppercase">Directeur Générale adjoint</p>
             <p class="absolute bottom-2 left-5 text-white font-thin">Kolony Kiseya</p>
        </div>
      </li>
       <li class="splide__slide">
        <div class="h-[500px] overflow-hidden relative rounded-lg">
           <img src="images/Félix_Tshisekedi_in_2021.jpg" class="w-full h-full"/>
           <div class="absolute bg-gradient-to-t from-black to-transparent top-0 left-0 right-0 bottom-0">

           </div>
             <p class="absolute bottom-[7%] left-5 text-white font-bold text-uppercase">Directeur Générale Adjoint</p>
             <p class="absolute bottom-2 left-5 text-white font-thin">Kolony Kiseya</p>
        </div>
      </li>
  
    </ul>
  </div>
</div>

</div>